services:
  evolution-api:
    container_name: evolution_api
    image: evoapicloud/evolution-api
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - evolution_instances:/evolution/instances
    depends_on:
      - postgres
      - redis

  postgres:
    container_name: postgres
    image: postgres:15
    command: ["postgres", "-c", "max_connections=1000"]
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_DB=evolution
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: redis
    command: redis-server --port 6379 --appendonly yes
    restart: always
    volumes:
      - redis:/data
    ports:
      - "6379:6379"

volumes:
  evolution_instances:
  postgres_data:


  postgres_pendencias_data:

  
  redis:
  vectorstore_data:
  rag_files:

